<FilesMatch tableauBordAdmin.php>

AuthUserFile "/home/carineglbv/.htpasswd"

AuthName "Connectez-vous avec votre identifiant et votre mot de passe pour vous identifier"
AuthType basic
require valid-user

</FilesMatch>