@charset "UTF-8";

html,body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: auto;
}

.page-header{
    margin: 100px 0px 35px 20px;
    padding-bottom: 9px;
}

.page-header h1{
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom:1px solid #eee;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

ul.dropdown-menu show{
    width: 90px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.container-chapitre{
    margin-left: 310px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

h4.bienvenue{
    margin-left: 300px;
    margin-right:auto;
    margin-top:25px;
}

p.bienvenue-texte {
    margin-left: 300px;
    padding-bottom: 0px;
    margin-bottom:0px;
}

button.btn.btn-outline-secondary.apropos{
    margin-bottom: 25px;
    margin-left: 300px;
    color: #fdfefe;
    margin-top: 0px;
}

h4.titre{
    margin-left: 305px;
}

h4.plus-chapitres{
    margin-left: 305px;
    margin-top:25px;
}

.extraits{
    margin-left: 315px;
    margin-bottom: 15px;
}

.btn{
    font-size: 16px;
}

.footer {
    width: 100%;
    height: 40px;
    background: #dcd5d4;
    margin-top:auto;
}

#container-couv {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 305px;
}

.texte-couv{
    margin-top: 150px;
}

.bouton-couv{
    margin-top: 160px;
}

button.btn.btn-outline-secondary{
    border: 1px solid #a3d8c6;
    background-color:#a3d8c6;
    color: #fdfefe;
}


button.btn.btn-primary.formulaire{
    margin-bottom: 25px;
    color: #fdfefe;
    background-color:#a3d8c6;
    border: 1px solid #a3d8c6;
    margin-left: 0;
}
.chapitres {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width : 80%;
    height : auto;
    border: 2px solid black;
}

.affichageCommentaires
{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 300px;
    width : 80%;
    height : auto;
}

.container-propos{
    margin-right: auto;
    margin-left: auto;
}


#container-texte-propos {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 310px;
}

.apropos{
    margin-top: 80px;
}

h4.propos{
    margin-top: 35px;
    margin-left: 310px;
}

h3.bibliographie{
    margin-left: 310px;
    margin-top: 35px;
}

ul.bibliographie{
    margin-left: 270px;
    margin-top: 5px;
    margin-bottom: 35px;
}


#bouton{
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

#bouton a:active{
    color: #fdfefe;
}

#bouton a:hover {
    border-bottom: 1px solid;
}

#bouton a:visited {
    color: #fdfefe;
}

#container-contact{
    Margin-top: 50px;
}

#lire{
    display : inline-block;
    vertical-align: text-before-edge;
}

#text-center p
{
    color: #525456;
    text-align: center;
    margin-top: auto;
}

li{
    list-style: none;
}

.container-fluid{
    background-color: #a3d8c6;
    padding: 5px;
}

#container-contact {
    margin-left: 300px;
}

#boutonSignalerCommentaire
{

    color: #ffffff;

}

div.form-group{
    width: 80%;
}

.bottom_border {
    border-bottom:1px solid #323f45; padding-bottom:20px;
}

.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
ul.foote_bottom_ul_amrc li {
    display:inline;
}
.foote_bottom_ul_amrc li a {
    color: #566573;
    margin:0 12px;
}

h5
{
    color:#59bd9c;
}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:10px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; border-radius:50%;}

