@charset "UTF-8";

html,body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: auto;
}


img#photo.img-fluid
{
    margin:15px 15px 5px 15px;
}


.page-header h1{
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom:1px solid #eee;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

ul.dropdown-menu show{
    width: 90px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.titreAlaska
{
    padding:15px;
    margin-top: 20px;
}


h4.bienvenue{

    margin-right:auto;
    margin-top:25px;
}

p.bienvenue-texte {

    padding-bottom: 0px;
    margin-bottom:0px;
}

button.btn.btn-outline-secondary.apropos{
    margin-bottom: 25px;
    color: #fdfefe;
    margin-left: 2px;
    padding-left: 5px;
}

button#bouton.btn.btn-outline-secondary{
    margin-bottom: 25px;
    color: #fdfefe;
    margin-left: 2px;
    padding-left: 12px;
}

div.col-md-5
{
    padding-left:25px;
}

h4.plus-chapitres{

    margin-top:25px;
}

.extraits{

    margin-bottom: 15px;
}

.btn{
    font-size: 16px;
}



div.chapitres
{
    margin-top: 25px;
    margin-left:0;
    padding-left:0;
    border:0;
}



#container-couv {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}



button.btn.btn-outline-secondary{
    border: 1px solid #a3d8c6;
    background-color:#a3d8c6;
    color: #fdfefe;
}


button.btn.btn-primary.formulaire{
    margin-bottom: 25px;
    color: #fdfefe;
    background-color:#a3d8c6;
    border: 1px solid #a3d8c6;
    margin-left: 0;
}
.chapitres {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width : 80%;
    height : auto;
    border: 2px solid black;
}



.container-propos{
    margin-right: auto;
    margin-left: auto;
}


#container-texte-propos {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px

}

.apropos{
    margin-top: 80px;
}

h4.propos{
    margin-top: 35px;

}


ul.bibliographie{

    margin-top: 5px;
    margin-bottom: 65px;
}


#bouton{
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

#bouton a:active{
    color: #fdfefe;
}

#bouton a:hover {
    border-bottom: 1px solid;
}

#bouton a:visited {
    color: #fdfefe;
}

#container-contact{
    margin-top: 50px;
}

#lire{
    display : inline-block;
    vertical-align: text-before-edge;
}

#text-center p
{
    color: #525456;
    text-align: center;
    margin-top: auto;
}

li{
    list-style: none;
}

.container-fluid{
    background-color: #a3d8c6;
    padding: 5px;
}



#boutonSignalerCommentaire
{
    color: #ffffff;
}

div.form-group{
    width: 80%;
}

.bottom_border {
    border-bottom:1px solid #323f45;
    padding-bottom:20px;
}
h5
{
    color:#59bd9c;
}


div.ensemble.col-lg-12.col-xs-12
{
    display:flex;
    flex-direction:row;
    vertical-align: center;
}



div.col-lg-6.col-xs-5
{
    margin : 75px auto auto 25px;
    display : table;
}

button.btn.btn-info
{
    margin-left:15px;
    margin-bottom:10px;
}

div.container-couv
{
    margin-bottom: 55px;
}

div.container-titreApropos.col-lg-7.col-xq-10{
    margin-left:15px;
}

div.apropos{
    margin-top:15px;
    margin-bottom: 55px;
}

div.container-texte-propos
{
    display:flex;
    flex-direction:row;
    margin-bottom: 65px;
}

h3.titreChapitre
{
    margin-bottom:25px;
}

h3.bibliographie
{
    margin-bottom: 25px;
}

ul.display.nav.inline
{
    margin:auto;
}

ul.nav-footer
{
    display:flex;
    flex-direction:row;
    text-align: center;
    margin-left:60px;
    padding-left:40px;
}

div.copyright
{
    margin:auto;
    text-align: center;
}

div.container-footer
{
    margin:auto;
}

li.nav-item
{
    margin-left:30px;
}

footer.sticky-footer {
    width: 100%;
    height: auto;
    background-color: #e3f2fd;
    margin-top:auto;
}

label.form-check-label
{
    margin-bottom: 35px;
}














@media (max-width:450px)
{

    ul.nav-footer
{
    display:none;
}
    li.nav-item
    {
        display:flex;
        flex-direction:row;
        text-align: center;
    }

    div.ensemble.col-lg-12.col-xs-12
    {
        display:flex;
        flex-direction:column;
    }

    div.texte-couv
    {
        margin-top:10px;
    }

    div.col-lg-6.col-xs-5
    {
        margin-top:10px;
        margin-left:10px;
        width: auto;
        padding-left:10px;
    }

    div.container-couv
    {
        margin-bottom:5px;
    }

    div.container-texte-propos
    {
        display:flex;
        flex-direction:column;
    }

    label.form-check-label
    {
        margin-bottom: 20px;
    }
}