@charset "UTF-8";


font-family: 'Open Sans', sans-serif;

.selector-for-some-widget {
    box-sizing: content-box;
}

.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}