html,body {
    font-family:"open sans", "Helvetica Neue",Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #969392;
}

.box {
    border: 1px red dotted;
}

.container-fluid-ensemble{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0px;
}

#navdroite.row
{
    margin-left:0px;
    margin-right:0px;
    width: 1435px;
}
.container-fluid
{
    padding-top:0;
}

.container
{
    max-width: 1418px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.col-lg-12.display-table-cell
{
    padding-left: 0px;
    padding-right: 2px;
}

#menu {
    background-color: #dde3f7;
    padding: 0px;
}

#menu h2 {
    color: #112044;
    text-align: center;
    margin: 10px 0px;
    font-size:25px;
}

header#nav-header.clearfix {
    margin-top: 0px;
}

header#nav-header
{
    width: 1418px;
}

#nav-header {
   background-color :#fff;
    border-bottom: 1px solid #e7eaec;
    width: 100%;
}

#nav-header ul {
    margin: 0px;
    padding: 0px;
    list-style:none;
    color: #676a6c;
}

#nav-header ul li {
    float :left;
    margin-left: 15px;
    padding: 17px 0px;
}

#nav-header ul li i{
    color: #676a6c;
}

.label {
    background-color: #1ab394;
    color: white;
    padding: 2px;
    border-radius: 1px;
}

#nav-header ul a {
    text-decoration: none;
}

#nav-header.logout {
    color: #676a6c;
}

#nav-header.logout :hover {
    margin-right: 20px;
}

#nav-header #welcome {
    margin-right: 20px;
}

ul{
    float: right;
}

#nav-header ul.label{
    position: absolute;
}

nav-header.fixed-width{
    width: 35px;
}

header.page-header h1
{
    visibility: hidden;
}

header.page-header
{
    height:0;
}

header.page-header
{
    height:0;
}

.page-header
{
    margin:0;
}



ul.navbar.fixed-top.navbar-light.bg-light.justify-content-end{
    visibility: hidden;
    height:0;
    margin: 0;
    padding:0;
}

div.menu2{
    padding-left: 10px;
    margin-left: 10px;
}

#menu h2{
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
}

ul.sous-menu{
    margin-left: 10px;
    padding-left: 5px;
}

div#menu.col-lg-2.display-table-cell.vertical-align-top{
    margin-top: 10px;
    margin-left: 5px;
    width: 180px;
}

header#nav-header
{
    top:0;
}


footer{
    visibility: hidden;
}